{% extends '_layout.html' %} 


{% block nav %} 
<div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home.</a>
            <a class="nav-link" href="/login">Registered Users</a>
        </div>
</div>
{% endblock %}


{% block body %}
<h1 class="text-center pb-5">Add Exercise</h1>
<div class="d-flex flex-column">
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="form-name-id" class="form-label">Name</label>
            <input type="text" class="form-control" id="form-name-id" name="form-name" placeholder="Enter Exercise Name" required>
        </div>
        <div class="mb-4">
            <label for="droplist" class="form-label">Add to Routine</label>
            <select class="form-select" id="droplist" name="droplist" aria-label="Default select example">
            <option selected disabled value="">Choose Routine</option>
            {% for routine in routines %}
                <option value="{{routine}}">{{routine}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
        </form>
</div>
{% endblock %}