{% extends '_layout.html' %} 


{% block nav %} 
<div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home.</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <a class="nav-link" href="/login">Log In</a>
        </div>
</div>
{% endblock %}


{% block body %}
<!-- <h1 class="text-center pb-5">Title</h1> -->
<a href="/log" class="btn btn-dark">Log Workout</a><br>
<a href="/create_routine" class="btn btn-dark">Create Routine</a><br>
<a href="/create_exercise" class="btn btn-dark">Add Exercise</a><br>
<a href="/view_routines" class="btn btn-light">View Routines</a><br>
<a href="/view_exercises" class="btn btn-light">View Exercises</a>
{% endblock %}