{% extends '_layout.html' %} 


{% block nav %} 
<link href="/static/css/index.css" rel="stylesheet">

<div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home.</a>
            <!-- <li class="nav-item dropdown"> 
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">View Routines</a></li>
                  <li><a class="dropdown-item" href="#">View Exercises</a></li>
                </ul>
              </li> -->
            <a class="nav-link" href="/login">Log In</a>
        </div>
</div> 
{% endblock %}


{% block body %}
<div class="text-center">
    <a href="/log" class="btn btn-dark">Log Workout</a><br>
    <a href="/create_routine" class="btn btn-dark mt-3">Create Routine</a><br>
    <a href="/create_exercise" class="btn btn-dark mt-3">Add Exercise</a><br>
    <a href="/log_bodyweight" class="btn btn-dark mt-3">Record Weight</a>
</div>
{% endblock %}