{% extends '_layout.html' %} 


{% block nav %} 
<div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home.</a>
            <a class="nav-link" href="/login">Log In</a>
        </div>
</div>
{% endblock %}


{% block body %}
<h1 class="text-center pb-5">Log Workout</h1>
<div class="d-flex flex-column">
    <form action="/log_select" method="post">
        <div class="mb-4">
            {% for exercise in exercises %}
            <h3 class="">Exercise Name</h3>
                {%if exercise == "Cardio"%}
                <label for="time" class="form-label">Time</label>
                <input type="text" class="form-control" id="time" name="form-name" placeholder="" required>
                <label for="distance" class="form-label">Distance</label>
                <input type="text" class="form-control" id="distance" name="form-name" placeholder="" required>
                <label for="speed" class="form-label">Speed</label>
                <input type="text" class="form-control" id="speed" name="form-name" placeholder="" required>
                {% else %}
                <label for="sets" class="form-label">Sets</label>
                <input type="text" class="form-control" id="sets" name="form-name" placeholder="" required>
                <label for="reps" class="form-label">Reps</label>
                <input type="text" class="form-control" id="reps" name="form-name" placeholder="" required>
                <label for="weight" class="form-label">Weight</label>
                <input type="text" class="form-control" id="weight" name="form-name" placeholder="" required>
                {% endif %}
            {% endfor %}
            <label for="thoughts" class="form-label pt-5">Thoughts</label>
            <textarea name="thoughts" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>
</div>
{% endblock %}