{% extends '_layout.html' %} 

{% block nav %} 
<div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home.</a>
            <a class="nav-link" href="/login">Log In</a>
        </div>
</div>
{% endblock %}


{% block body %}
<link href="/static/css/log.css" rel="stylesheet">

<h1 class="text-center pb-5">Log Workout</h1>
<div class="d-flex flex-column"> 
    <form action="/log_select" method="post">
        <div class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class="form-control" id="time" >
                </div>
            </div>
            {% for exercise in routine %}
            <h3 class="pt-3">{{exercise.exercise_name}}</h3>
                <div class="d-flex input-row">
                    {% for attribute in attributes %}
                    <div class="flex-item">
                        <label for="time" class="form-label">{{attribute}}</label>
                        <input type="number" class="form-control input-l" id="time" name="form-name" placeholder="">
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <h3 for="thoughts" class="form-label pt-5 text-center">Thoughts</h3>
            <textarea name="thoughts" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>
</div>

<script src="/static/js/log.js"></script>
{% endblock %}